@model IEnumerable<Project1.Models.Session>
@{ 
    if (Model.Count() < 1)
    {
        <p> There are no sessions in the database yet.</p>
    }
    else
    {
        <h3>All Sessions</h3>
        <table border="1">
            <tr>
                <th>Session ID</th>
                <th>Coach Name</th>
                <th>Seat Capacity</th>
                <th>Enroll Session</th>
            </tr>
            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.SessionId</td>
                    <td><a asp-controller="Coach" asp-action="Profile" asp-route-id="@s.Coach.CoachId">@s.Coach.CoachName</a>
                    <td>@s.SeatCapacity</td>
                    <td>
                        @{ 
                            if (s.SeatCapacity < 1)
                            {
                                <p>This session is full. Try again next session.</p>
                            }
                            else
                            {
                                <a asp-controller="Swimmer" asp-action="EnrollSession" asp-route-id="@s.SessionId">Register</a>
                            }
                        }
                    </td>
                </tr>
            }



        </table>



    }


}
<p><a asp-action="Index">Click To Go Back To Student Home</a></p>







