@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Project1.Models.Enrollment>
<h2>Add a lesson to session</h2>
<h3>Lesson: @Model[0].LessonId</h3>
<form asp-controller="Coach" asp-action="AddSession"
      method="post">
    <table border="1">
        <tr>
            <th></th>
            <th>Lesson ID</th>
        </tr>
        @for (int i = 0; i < Model.Count(); i++)
        {

            <tr>
                <td>
                    <input asp-for="@Model[i].EnrollmentId"
                           type="hidden"
                           value="@Model[i].EnrollmentId" />
                </td>
                <td>@Model[i].LessonId</td>
                <td>
                    <input asp-for="@Model[i].Session" />
                </td>
            </tr>
        }
    </table>
    <input type="submit" value="Submit" />
</form>